/* ===== Stylesheet Order =====

	1) House Style
	2) Full Page & Grid
	3) Border
	4) Content Left
	5) Content Right
	6) Alternative Styles
	7) Media Queries

*/

/* ===== 1) House Style ===== 
-Add fonts */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$lightgrey: #ebeded;
$silver: #c1c1c1;
$darkgrey: #2d303a;
$title-red: #e83c38;
$title-blue: #5fb2d4;

$font-header: "Times New Roman", Times, serif;
$font-content: 'Poppins', sans-serif;

$placeholder: 0px dashed black;

/* ===== 2) Full Page & Grid ===== */

html, body {
  	margin: 0;
  	padding: 0;
  	overflow-x: hidden;
  	scroll-behavior: smooth;
}
img {
	height: 100%;
	width: 100%;
}
a {
	text-decoration: none;
}
.full-page {
	background-color: $lightgrey;
	padding-top: 2px;
	padding-bottom: 2px;
}
.scrollbar {
  position: fixed;
  right: 10px;
  bottom: 50px;
}
.scrollbar li {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  border-radius: 50%;
  color: $silver;
  border: 2px solid $silver;
  transition: 0.5s;
}
.scrollbar li:hover {
  cursor: pointer;
  transform: scale(1.05);
}
::-webkit-scrollbar {
  	width: 10px;
}
::-webkit-scrollbar-track {
  	background: $lightgrey; 
}
::-webkit-scrollbar-thumb {
  	background: $silver;
  	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  	background: $darkgrey; 
}
.grid-content {
  	display: grid;
  	grid-template-columns: 2fr 1fr;
  	grid-template-rows: 1fr 1fr;
  	grid-gap: 20px;
}
.left-content {  
	grid-column: 1 / span 1;
  	grid-row: 1 / span 2;
}
.right-content {
  	grid-column: 2 / span 1;
  	grid-row: 1 / span 2;
}

/* ===== 3) Border ===== */

.border-page {
  	border-style: solid;
  	border-color: $silver;
  	border-width: 2px 0px 2px 2px;
  	margin: 40px;
  	padding: 20px;
}
.border-element {
  	background-color: $lightgrey;
  	color: $silver;
}
.border-name {
  	width: 130px;
  	margin-top: -35px;
  	text-align: center;
}
.border-github {
  	width: 70px;
  	margin-top: -40px;
  	float: right;
  	text-align: center;
}

/* ===== 4) Content Left ===== */
h1 {
	font-family: $font-header;
	line-height: 0.75;
	font-size: calc(5vw + 70px);
	color: $title-red;
	margin-top: 10px;
	margin-bottom: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header-one {
	font-size: 1.2em;
}
.header-two {
	font-size: 1.03em;
}
h1:hover {
  opacity: 0.9;
  cursor: pointer;
}
h2 {
  color: $title-red;
  font-variant: small-caps;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  float: left;
  font-family: $font-content;
}
section {
  margin-left: 20px;
}

.content {
  margin-left: 50px;
  color: $darkgrey;
  width: 600px;
  margin-bottom: 15px;
  border: $placeholder;
}
.content-info {
  font-family: $font-content;
  	font-size: 18px;
  	font-weight: 500;
  	margin-bottom: 30px;
  	/* line-height: 130%; */
}
.subheader-skills {
  	margin-left: -8px;
}
.content-skills i {
	line-height: 0.7;
	font-size: 80px;
	padding-right: calc(3.5vw + 20px);
	transition: 0.5s;
}
.content-skills i:hover {
	transform: scale(1.1);
	opacity: 0.9;
}
.icons-two {
  	margin-left: 45px;
}

/* ===== 5) Content Right ===== */
.right-content {
  border: $placeholder;
}
.placeholder-img {
  background-color: white;
  height: 250px;
  width: 528px; /* fits the 2.11 ratio to make the image look right */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 0.5s;
  border: 5px solid white;
  border-radius: 10px;
  position: relative;
  top: 25px;
  left: 110px;
}
.image-two {
  background-color: white;
  height: 250px;
  width: 528px; /* fits the 2.11 ratio to make the image look right */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 0.5s;
  border: 5px solid white;
  border-radius: 10px;
  position: relative;
  top: 50px;
  left: 40px;
}
.placeholder-img:hover, .image-two:hover {
  transform: scale(1.02);
}

/* ===== 6) Alternative Styles ===== */
#two .full-page, #four .full-page {
	background-color: $darkgrey;
}
#two .content, #four .content {
	color: $lightgrey;
}
#two .border-element, #four .border-element {
	background-color: $darkgrey;
}
#two-fade-in, #three-fade-in, #four-fade-in {
	/* add #one-fade-in, back in when first page is done */
	display: none;
}
#one h1, #one h2, #two h1, #two h2 {
	color: $title-blue;
}
#three h1, #three h2 {
  color: #496064;
}

/* ===== 7) Media Queries ===== */
@media (max-width: 1350px) {
  .grid-content {
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
  }
  .left-content {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .right-content {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .website-screenshots {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .scrollbar {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .content {
    width: 110%;
  }
  .placeholder-img, .image-two {
    width: 100%;
    height: auto;
  }
  .placeholder-img {
    left: 90px;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 85px; 
    line-height: 0.8;
  }
  .content-skills i {
    padding-right: 25px;
    font-size: 65px;
  }
  .icons-two {
    margin-left: 0px;
  }
}